div(class="container")
    header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
        a(href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none") Lotto Picks

        //- ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
        //-     li
        //-         a(href="/" class="nav-link px-2 link-dark") Home
        //-     li
        //-         a(href="/picks" class="nav-link px-2 link-dark") Picks
            //- li
            //-     a(href="/features" class="nav-link px-2 link-dark") Features
            //- li
            //-     a(href="/pricing" class="nav-link px-2 link-dark") Pricing
            //- li
            //-     a(href="/faqs" class="nav-link px-2 link-dark") FAQs
            //- li
            //-     a(href="/about" class="nav-link px-2 link-dark") About

        //- div(class="col-md-3 text-end")
        //-     button(type="button" class="btn btn-outline-primary me-2") Login
        //-     button(type="button" class="btn btn-primary") Sign-up
