doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title #{title}
        style
            include /css/styles.css
            include /css/bootstrap.css
    body
        include navbar

        section(class="container")
            block content

        script(type="text/javascript" src="/static/js/scripts.js")
        script(type="text/javascript" src="/static/js/bootstrap.js")