doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js")
        link(type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css")

        title #{title}
        style
            include /css/styles.css
            include /css/bootstrap.css
    body
        include navbar

        section(class="container")
            block content

        script(type="text/javascript" src="/js/scripts.js")
        script(type="text/javascript" src="/js/bootstrap.js")